<details class="mt-3 flex-grow">
    <summary>{{ comment.reply_set.count }} replies</summary>
    <form action="{% url 'comment:reply.create' post.slug comment.id %}" class="flex items-center gap-1 w-full"
          method="post">
        {% csrf_token %}
        <input type="text"
               name="body"
               placeholder="enter your reply here"
               class="px-3 py-1.5 rounded flex-grow text-sm border-gray-300"
               required />
        <button class="px-5 py-1.5 bg-stone-700 text-white text-sm rounded">reply</button>
    </form>
    <ul id="c-{{ comment.id }}-replies" class="mt-3 space-y-1">
        {% for reply in comment.reply_set.all %}
            <li class="flex gap-3 p-2 rounded border bg-gray-100 w-full" id="c-{{ comment.id }}-r-{{ reply.id }}" 
                x-data="comment(`{% url 'comment:reply.liked' post.slug comment.id reply.id %}`)">
                <div class="">
                    <div class="w-10 h-10 bg-gray-300 rounded-full"></div>
                </div>
                <div class="">
                    <h5 class="space-x-3 capitalize">
                        <a href="#" class="font-bold ">{{ reply.user.get_full_name }}</a>
                        <span class="text-sm text-gray-500">
                            - {{ reply.date|date:"M d, Y" }}
                        </span>
                    </h5>
                    <p>{{ reply.body }}</p>
                    <div class="flex items-center gap-5">
                        <form method="post"
                              action="{% url 'comment:reply.like' post.slug comment.id reply.id %}">
                            {% csrf_token %}
                            <button class="flex items-center text-lg gap-1">
                                <span data-lucide="thumbs-up" :class="liked && 'liked'"></span>
                                {{ reply.likes.count }}
                            </button>
                        </form>
                        {% if user.is_authenticated and reply.user == user %}
                            <a href="{% url 'dashboard:replies.update' reply.id %}">Edit</a>
                            <form action="{% url 'dashboard:replies.delete' reply.id %}"
                                  method="post">
                                {% csrf_token %}
                                <button onclick="return confirm('are you sure?')">delete</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</details>
